*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Bulletto;
    src: url(Beautiful\ Dream.otf);
}

header.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    z-index: 1000;
    height: 4rem;
}

.nav .logo {
    position: relative;
    font-size: 1.5rem;
    font-family: Bulletto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.nav .logo a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    justify-content: end;
    padding: 0 2rem 0 0;
    gap: 2rem;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.2s ease-in-out, transform 0.2s ease;
}

.links a:hover {
    transform: scale(1.1);
    color: rgb(67, 207, 232);
}

.emptyblack {
    width: 100%;
    height: 10rem;
    background-color: black;
    margin-top: -6rem;
}

.dark-paper-top {
    mix-blend-mode: darken;
}

.video {
    position: relative;
    width: 100%;
    height: 43.95rem;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video .content {
    position: relative;
    margin-top: -5rem;
}

.content p{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    font-weight: 100;
    padding: 20px;
    margin-bottom: 3rem;
}

.content a {
    display: inline-block;
    border: 2px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: 1;
    font-weight: 600;
}

.content a:hover {
    background-color: rgb(67, 207, 232);
    transform: scale(1.05);
}

.torn-shadow .img1 {
    width: 100%;
    mix-blend-mode: lighten;
    opacity: 0.5;
    margin-top: -80px;
}

.torn-paper .img2 {
    width: 100%;
    mix-blend-mode: lighten;
    margin-top: -140px;
}

.part2 {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.part2 div a {
    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
    padding-top: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.allimages {
    position: relative;
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.allimages:hover {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    transform: scale(1.02);
    z-index: 10;
    filter: drop-shadow(2px 2px 10px black);
}

.allimages div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.part3 div:first-child {
    width: 25rem;
    margin-top: 1.6rem;
}

.part3 div:last-child {
    width: 25rem;
    margin-top: 1.6rem;
    margin-left: 1rem;
}

.part3 p {
    font-size: 3rem;
    font-weight: 800;
    margin-left: 1rem;
}

.part3 {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.part4 > div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.lastimg img{
    margin-top: -4rem;
    width: 100%;
    height: 500px;
}

.torn-shadow-copy .img1 {
    width: 100%;
    mix-blend-mode: lighten;
    opacity: 0.6;
    margin-top: -140px;
}

.torn-paper-copy .img2 {
    width: 100%;
    mix-blend-mode: lighten;
}

.lastimgtext {
    text-align: center;
    margin-top: -22rem;
}

.lastimgtext div:nth-child(1) {
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 1rem;
}

.lastimgtext div:nth-child(2) {
    color: white;
    font-size: 1rem;
    font-family: monospace;
    font-weight: 500;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 1rem;
}

.lastimgtext div:nth-child(3) {
    color: white;
    font-size: 1rem;
    font-family: monospace;
    font-weight: 500;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 2rem;
}

.lastimgtext a {
    text-decoration: none;
    color: rgb(67, 207, 232);
    padding-right: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.merging-black {
    width: 100%;
    height: 170px;
    background-color: black;
    z-index: 10;
}

.lastpart {
    color: white;
    background-color: black;
    width: 100%;
    height: 40px;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
}

.lastpart_x {
    color: white;
    background-color: black;
    width: 100%;
    height: 40px;
    text-align: center;
    align-content: center;
    font-family: Bulletto;
    font-size: 30px;
    padding-bottom: 50px;
}
